
.barra{
   width:70%
}

.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .my-button:hover {
    background-color: #45a049;
  }
  
  .my-button:active {
    background-color: #3e8e41;
  }

  .audio-player {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #playPauseBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #stopBtn {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0%;
  }
  
  .playing .progress {
    width: 100%; /* Ajusta según la lógica */
  }