body{
    font-family: arial;
    text-align: center;
    background-color: rgb(219, 121, 121) ;
}

#galeria{
    margin:30px 70px;
    padding:20px;
    background: white;
}

img{
    width:100%;
    max-height:400px;
}

.botones{
    margin-top:15px;
}

button{
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: red;
    color: white;
}



.info {
  margin-top: 10px;
  color: #555;
}

h1 {
    color: white;
}